body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    background-color: #11062c;
    padding: 0;
}

.container {
    max-width: 400px;
    background-color: rgba(124, 120, 120, 0.8);
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #031927;
}

.form-group {
    margin-bottom: 20px;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #11062c;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #079cff;
}

/* button {
    background-color: #08141c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a8d5ff;
    color: blue;
} */
